.base-input {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  font-size: 14px;
  background: #F8F8F8;
  border-radius: 8px;
}

.prefix {
  margin-right: 10px;
  font-size: 16px;
}

.clear {
  margin-left: 10px;
  color: #C3C7CC;
  font-size: 16px;
  cursor: pointer;
}

.base-input-inner {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  color: #2C2C2C;
  font-size: 15px;
  line-height: 40px;
  background: #F8F8F8;
  background-image: none;
  border: 1px solid #F8F8F8;
  outline: none;
  mix-blend-mode: normal;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  appearance: none;
}
